<?xml version="1.0" encoding="utf-8"?>
<odoo>


<!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
  <menuitem id="toko_hp_menu_root"
            name="TOKOHP"
            sequence="10"/>
            

<!-- This Menu Item must have a parent and an action -->
<menuitem id="toko_handphone_menu_categ" 
          name="HANDPHONE" 
          parent="toko_hp_menu_root" 
          sequence="10"/>

<!-- This Menu Item must have a parent and an action -->
<menuitem id="toko_hp_transaksi_menu_categ" 
          name="TRANSAKSI" 
          parent="toko_hp_menu_root"
          sequence="20"/>

<!-- This Menu Item must have a parent and an action -->
<menuitem id="toko_hp_pegawai_menu_categ" 
          name="PEGAWAI" 
          parent="toko_hp_menu_root" 
          sequence="30"/>

<!-- This Menu Item must have a parent and an action -->
<menuitem id="toko_hp_pembeli_menu_categ" 
          name="PEMBELI" 
          parent="toko_hp_menu_root" 
          sequence="40"/>

<!-- This Menu Item must have a parent and an action -->
<menuitem id="toko_hp_order_menu_categ" 
          name="ORDER" 
          parent="toko_hp_menu_root" 
          sequence="45"/>                                  

</odoo>            